.chart-page {
  background-color: #fafdfe !important;
}

.chart-page .chart-container {
  border-color: transparent !important;
  background-color: transparent !important;
}

.layout__area--left [class^='icon-'] svg {
  width: 22px !important;
  height: 22px !important;
}

.layout__area--left [class^='buttonIcon-'] {
  font-size: 16px !important;
}

.layout__area--left [class^='scrollTop-'],
.layout__area--left [class^='scrollBot-'] {
  background-color: rgba(128, 128, 128, 0.2) !important;
}
